	
	body{
		font-family: harrington;
		background-image: url("../resources/bg_image_cp5.jpg");
		margin:0
		}
	#main-content{
		background-color:seashell; 
		padding:50px; 
		margin:90px;
		border: 2px solid black
		}
	li{
		list-style-type:none; 
		display: inline; 
		padding:10px;
		margin: 2px;
		}	
	a{
		text-decoration:none; 
		color:black
		}	
	a:hover{color:gold}
	
	#title{
		text-align:center; 
		color:black; 
		margin:90px;
		padding:10px;
		background-color:white;
		border: 2px solid black;
	}
	#menu{
		margin-top:-12px;
	}		